/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@media only screen and (max-width: 1200px){
  a.nav-link {
    font-size: 18px;
}

.nav-redes-sociais img {
    width: 24px;
}
}

@media only screen and (max-width: 992px){
  .opcoes-cursos_ {
    overflow: hidden;
}
  .slider-principal{
    background-position: center;
  }
  #link-cursos, #link_mentores {
    margin-bottom: 135px;
}
section#pq-audioclass {
  padding: 130px 0 0 0;
}
#link_alunos {
  padding-top: 130px;
}
  /* header */
  .box-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.navbar-nav {width: 100%;-webkit-box-orient: horizontal;-webkit-box-direction: normal;-ms-flex-direction: row;flex-direction: row;}


.navbar-brand {
    margin: 5px 0 auto;
}

.navbar-brand img {width: 180px;}

.navbar-nav .nav-link {
    text-align: center;
    padding: 0 0 5px 0;
    font-size: 15px;
    margin: 0 5px;
}

.nav-redes-sociais {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.nav-redes-sociais a {
    margin: 5px !important;
}
.master-slider-principal{
  margin: 0;
}


.ax-slider-principal h2 {
  font-size: 40px;
}
.ax-slider-principal p {
  font-size: 15px;
}
 /* slider */
 
 .container.container-slider {
  background-position: center;
}

  /* defaut */
  .box-titulo{
    min-height: 200px;
    height: auto;
  }

  .card-nivel-curso {
    width: auto;
    max-width: 546px;
    margin: 15px auto;
    text-align: center;
}
  
  /* filtro curso */
  #master-video-curso iframe {
    height: 350px;
}

  /* pq autoclass */
  .card-pq-audioclass {
    margin: 0 0 20px 0;
    max-width: 400px;
    width: auto;
}

.master-cards-pq-audioclass {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

  /* footer */
  #logo-footer{
    margin-bottom: 30px;
  }
  /* alunos carrousel */

.slider-alunos .slick-prev {
  left: 30px;
}
.slider-alunos .slick-next {
  right: 30px;
}

.center .slick-center .box-slider-aluno {
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  -webkit-transform: none;
  color: #fff;
  opacity: 1;
  transform: none;
  -webkit-transition: 0.2;
  -o-transition: 0.2;
  transition: 0.2;
}

.slick-list.draggable {
  overflow: hidden;
}
body{
  overflow: auto;
}
}

@media only screen and (max-width: 768px){
  /* filtro */
  .btn-filtro-cursos {
    bottom: -30px;
}

#master-video-curso {
  margin-top: 75px;
}

.prev-filtro {
  margin: auto;
  inset: 0;
  left: -50px;
  bottom: 190px;
}
.next-filtro {
  margin: auto;
  inset: 0;
  right: -50px;
  bottom: 190px;
}
  .opcoes-cursos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 30px 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.opcao-curso {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin: 5px;
    padding: 10px;
}
#master-video-curso iframe {
  height: 250px;
}
/* SLIDER */
.ax-slider-principal{
  padding-bottom: 30vw;
}
.master-slider-principal .slick-dots {
  bottom: 12vw;
}
h3.h3-pq-autoclass {
  /* flex-direction: column; */
}

h3.h3-pq-autoclass img {
  margin: 10px 0;
}
.box-slider-aluno {
  width: auto;
}
.slider-alunos .slick-next::before{
  width: 35px!important;
  height: 35px!important;
}
.slider-alunos .slick-prev::before{
  width: 35px!important;
  height: 35px!important;
}

 .box-slider-aluno {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.slider-alunos .slick-slide{
  opacity: 1 !important;
}
.slider-alunos .slick-active{
  opacity: 1 !important;
}


.slider-alunos .slick-prev {
  top: auto;
  bottom: -80px;
  left: -40px;
  right: 0;
  margin: auto;
}

.slider-alunos .slick-next {
  top: auto;
  bottom: -80px;
  right: -40px;
  left: 0;
  margin: auto;
}

.qual-aluno{
  padding-right: 0;
  padding-bottom: 25px;
}

.slider-alunos .slick-prev {
  bottom: -40px;
}
.slider-alunos .slick-next {
  bottom: -40px;
}

h3.h3-pq-autoclass {
  display: block;
}
.h3-pq-autoclass br{
  display: block;
}
.h3-pq-autoclass span{
  position: relative;
    top: 8px;
    margin-left: 7px;
}


}

@media only screen and (max-width: 567px){
  .dep-text {
    width: 100%;
}
  .dep-text p {
    font-size: 3vw;
    padding: 0 3vw;
}

.center .slick-center .box-slider-aluno {
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  -webkit-transform: none;
  color: #fff;
  opacity: 1;
  transform: none;
  -webkit-transition: 0.2;
  -o-transition: 0.2;
  transition: 0.2;
}

.slider-alunos {
  margin:0;
}
body .variable-width button.slick-next {
  width: 30px;
  height: 45px;
}

body .variable-width .slick-next:before {width: 30px !important;height: 45px !important; inset: 0;}

body .variable-width button.slick-prev {
  width: 30px;
  height: 45px;
}

body .variable-width .slick-prev:before {width: 30px !important;height: 45px !important; inset: 0;}
/*  */

body .variable-width-mentores button.slick-next {
  width: 30px;
  height: 45px;
}

body .variable-width-mentores .slick-next:before {width: 30px !important;height: 45px !important; inset: 0;}

body .variable-width-mentores button.slick-prev {
  width: 30px;
  height: 45px;
}

body .variable-width-mentores .slick-prev:before {width: 30px !important;height: 45px !important; inset: 0;}

/* footer */
.footer-bottom {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.card-curso-ax p{
  display: block;
}
}