/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

*{
  font-family: 'Gerbera';
  font-weight: normal;
  font-style: normal;
}
body{
  background-color: #000 !important;
  overflow-x: hidden;
}
/* menu */
li.nav-item {
  border-bottom: 2px solid transparent;
}
li.nav-item:hover {
  border-bottom: 2px solid transparent;
}
li.nav-item:hover a {
 color: #fff;
}

li.nav-item.ativo {
  border-bottom: 2px solid #fff;
  -webkit-transition: 0.2;
  -o-transition: 0.2;
  transition: 0.2;
}
.slider-principal{
  background-size: cover;
}
.master-slider-principal {
  margin-top: 80px;
}
.navbar-autoclass {
  background: rgb(0 0 0);
  min-height: 85px;
  position: fixed !important;
    width: 100%;
    top: 0;
    z-index: 99999;
}


.master-slider-principal .slick-dots li {
  background: #d0d0d0 !important;
  border-radius: 100px;
}
.master-slider-principal .slick-dots .slick-active{
  background-color: #fff !important;
}
.master-slider-principal .slick-dots{
  bottom: 25px;
}
.container-slider{
  height: 100%;
}
.ax-slider-principal{
  height: calc(100vh - 70px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 10vw;
}
.ax-slider-principal h2{
  color: #fff;
  font-size: 50px;
}
.ax-slider-principal p{
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
}
.ax-slider-principal a.btn{
  color: #000;
  font-weight: 300;
  background-color: #fff;
  padding: 14px 40px;
  border-radius: 8px;
}
.slick-dots li button:before {
  content: '';
}
.nav-link{
  font-weight: 300;
  color: #b0b0b0;
  font-size: 22px;
}
.nav-link.active{
  color: #fff;
}

.box-header{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.navbar-brand{
  margin-right: auto;
}
.navbar-brand img{
  width: 230px;
}
.navbar-collapse{
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
.nav-redes-sociais a:first-child{
  margin-left: 25px;
  margin-right: 10px;
}
.nav-redes-sociais img {
  width: 25px;
}
.nav-redes-sociais a{
  color: transparent;
}
.box-titulo{
  background-image: url('../imagens/bg-fundo-titulos.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 280px;

}
.box-titulo h3{
  color: #fff;
  text-align: center;
  font-weight: 300;
  font-size: 45px;
  margin: 0;
  text-transform: lowercase;
}
#cursos{
  padding-bottom: 50px;
}
.card-curso {
      width: 300px;
    height: 500px;
    margin: 0 15px;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.master-slider-cursos {
  margin-bottom: 80px;
}


.card-curso-ax {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  height: 100%;
  color: #fff;

}
.card-curso-ax{
 text-decoration: none!important;
}
.card-curso-ax:hover{
  text-decoration: none !important;
  color: #fff;
}
.card-curso-ax .box-sombra{
  padding: 10px;
  background-size: contain;


}
.card-curso-ax p {
  padding: 0 10px;
  color: #fff;
  display: none;
}

.master-slider-cursos  .master-btn-ssine-agora{ margin-top: 80px}
.variable-width button.slick-prev {
  width: 40px;
  height: 70px;
  left: 25px;
}

.variable-width .slick-prev:before {
  background: url(../imagens/icons/esquerda.png);
  content: '';
  width: 35px !important;
  height: 60px !important;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 1;
}
.variable-width button.slick-next {
  width: 40px;
  height: 70px;
  right: 25px;
}

.variable-width button.slick-next:before{
  background: url(../imagens/icons/direita.png);
  width: 35px !important;
  height: 60px !important;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 1;
  content: '';
  inset: 0;
  margin: auto;
}






#sobre-cursos{
  padding: 150px 0 0 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1e1e1e), color-stop(#181818), color-stop(#121212), color-stop(#0a0a0a), to(#000000));
  background-image: -o-linear-gradient(top, #1e1e1e, #181818, #121212, #0a0a0a, #000000);
  background-image: linear-gradient(to bottom, #1e1e1e, #181818, #121212, #0a0a0a, #000000);
}
#link_pq_audioclass{
  margin-top: 100px;
}
section#pq-audioclass {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1c1c1c), color-stop(#030303), color-stop(#030303), color-stop(#000), to(#000));
  background-image: -o-linear-gradient(top, #1c1c1c, #030303, #030303, #000, #000);
  background-image: linear-gradient(to bottom, #1c1c1c, #030303, #030303, #000, #000);
}
h3.h3-pq-autoclass {
  font-size: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h3.h3-pq-autoclass img {
  margin: 0 10px;
}
.h3-pq-autoclass br{
  display: none;
}
.card-nivel-curso{
  border: 1px solid #000;
  border-radius: 8px;
  background: #1e1e1e;
  padding: 20px;
  -webkit-box-shadow: 5px 5px 15px 5px #000000; 
box-shadow: 5px 5px 15px 5px #000000;
}
.card-nivel-curso h3{
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-size: 22px;
}
.card-nivel-curso p{
  color: #fff;
  font-weight: 300;
}
#link-cursos,
#link_mentores{
  margin-bottom: 50px;
}
.espacmento-mentores-bottom{
  height:100px;
  width: 100%;
}
.card-mentores{
  background-size: cover;
  background-position: 50%;
}
.variable-width-mentores button.slick-prev {
  width: 40px;
  height: 70px;
  left: 25px;
}

.variable-width-mentores .slick-prev:before {
  background: url(../imagens/icons/esquerda.png);
  content: '';
  width: 35px !important;
  height: 60px !important;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 1;
}
.variable-width-mentores button.slick-next {
  width: 40px;
  height: 70px;
  right: 25px;
}

.variable-width-mentores button.slick-next:before{
  background: url(../imagens/icons/direita.png);
  width: 35px !important;
  height: 60px !important;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 1;
  content: '';
  inset: 0;
  margin: auto;
}
.master-cards-pq-audioclass{
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0;
}
.card-pq-audioclass{
  width: 24%;
  margin-right: 1%;
  border: 4px solid #505050;
  border-radius: 20px;
  padding: 20px;
  color: #fff;
  text-align: center;
}
.card-pq-audioclass:last-child{
  margin-right: 0;
}
.card-pq-audioclass h4{
  margin-bottom: 20px;
  font-size: 25px;
}
.card-pq-audioclass p{
  font-weight: 300;
  font-size: 18px;
}

.master-btn-ssine-agora{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.master-btn-ssine-agora a{
  color: #000;
  border: 2px solid #fff;
  background: #fff;
  font-weight: 300;
  font-size: 28px;
  text-decoration: none;
  padding: 20px;
  width: 300px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-radius: 10px;
  margin: 50px 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.master-btn-ssine-agora a:hover{
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  opacity: 0.8;
}
/* FILTRO CURSO */
.master-filtro-cursos {
  position: relative;
  margin-top: 80px;
}
.btn-filtro-cursos{
  position: absolute;
  cursor: pointer;
  opacity: 1;
  -webkit-transition: 0.5;
  -o-transition: 0.5;
  transition: 0.5;
  
}
.btn-filtro-cursos:hover{
  opacity: 0.7;
  -webkit-transition: 0.5;
  -o-transition: 0.5;
  transition: 0.5;
}
.prev-filtro{
  left: -35px;
  bottom: 0;
  top: 20px;
}
.next-filtro{
  right: -35px;
  bottom: 0;
  top: 20px;

}
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #000 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 13px;
    height: 10px;              
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }
.opcoes-cursos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 80px;
  position: relative;
  overflow: hidden;
}

body .slick-filtro .slick-prev {
  opacity: 0;
}
body .slick-filtro .slick-next {
  opacity: 0;
}
.opcao-curso_ span {
  border: 2px solid #fff;
  border-radius: 8px;
  text-align: center;
  padding: 15px;
  cursor: pointer;
  width: 100%;
  margin-right: 5px;
  width: 180px;
  color: #fff;
  display: block;
}
.opcao-curso {
  border: 2px solid #fff;
  border-radius: 8px;
  text-align: center;
  padding: 15px;
  cursor: pointer;
  width: 100%;
  margin-right: 5px;
width: 180px;
-ms-flex-negative: 0;
    flex-shrink: 0;
}

.opcao-curso span {
  color: #fff;
  font-size: 18px;
}


.box-video-js:first-child{
  display: block;
}

.box-video-js{
  display: none;
}

#master-video-curso{
  border: 2px solid #fff;
  border-radius: 8px;
  margin-top: 5px;
}
#master-video-curso iframe{
  width: 100%;
  height: 40vw;
}

.opcao-curso:last-child {
  margin-right: 0 !IMPORTANT;
}
#link_alunos{
  margin-top: 10px;
}
/* slider aluno */
.slider-alunos .slick-list{
  overflow: inherit;
}
.box-slider-aluno{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  opacity: 0.6;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  width: 470px;
 -webkit-box-align: center;
     -ms-flex-align: center;
         align-items: center;
}
.box-slider-aluno .slick-slide{
  -webkit-transition: 0.2;
  -o-transition: 0.2;
  transition: 0.2;
}
.center .slick-center .box-slider-aluno {
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  color: #fff;
  opacity: 1;
  transform: scale(1.2);
  -webkit-transition: 0.2;
  -o-transition: 0.2;
  transition: 0.2;
}
.center h3 {
  opacity: 0.8;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
.box-slider-aluno{
  background-color: #1e1e1e;
  border-radius: 10px;
  padding: 20px;
  margin: 0 30px;
}
.qual-aluno{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding-right: 20px;
}
.dep-text {
  font-size: 13px;
}
.qual-aluno img{
  width: 100px;
}
.nome-aluno{
  font-size: 22px;
}
.prof{
font-size: 18px;
font-weight: 300;
}
.dep-text{
  width: 400px;
}
.slider-alunos {
  margin-top: 50px;
  margin-bottom: 80px;
}
.slider-alunos .slick-active{
  opacity: 0.6 !important;
}
.slider-alunos .slick-slide {
  opacity: 0;
}
.slider-alunos .slick-center{
  opacity: 1  !important;
}

.slider-alunos .slick-prev:before {
  background: url(../imagens/icons/esquerda.png);
  content: '';
  width: 35px !important;
  height: 60px !important;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 1;
}

.slider-alunos .slick-next:before {
    background: url(../imagens/icons/direita.png);
    content: '';
    width: 35px !important;
    height: 60px !important;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 1;
}
.slick-prev, .slick-next {
  z-index: 9999;
}
/* footer */
footer{
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000), color-stop(#000), color-stop(#000), color-stop(#030303), to(#1c1c1c));
  background-image: -o-linear-gradient(top, #000, #000, #000, #030303, #1c1c1c);
  background-image: linear-gradient(to bottom, #000, #000, #000, #030303, #1c1c1c);
 padding-top: 230px;
}
.footer-bottom{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #2d2d2d;
  padding: 15px 0;
  margin-top: 80px;
}
.copy{
  font-weight: 300;
  font-style: 18px;
  color: #fff;
}
.btn-voltar-para-o-topo{
  color: #fff;
  font-weight: 300;
  text-decoration: none;
}
.btn-voltar-para-o-topo:hover{
  color: #b0b0b0;
}
.sub-titulo-footer{
  color: #fff;
  font-size: 15px;
  margin-bottom: 15px;
  display: block;
  font-weight: bold;
}
.links-footer{
  list-style: none;
  margin: 0;
  padding: 0;
}
.link-footer{
  margin-bottom: 15px;
}
.link-footer img{
  margin-right: 5px;
}
.links-footer a{
  font-size: 15px;
  color: #fff;
  text-decoration: none;
}
